@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'), url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroylight.woff2") format('woff2'), url("../fonts/gilroylight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 1200px;

  font: 300 15px/30px 'Open Sans', Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul,
fieldset {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding: 8px 0;

  font: bold 18px/24px Gilroy, sans-serif;
  color: #000000;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
}

.main-header {
  margin-bottom: 40px;
}

.header-top {
  position: relative;

  min-height: 121px;
  margin-top: 40px;
  padding: 37px 60px 0 60px;

  background-color: #f7e296;
}

.main-logo {
  position: absolute;
  top: -25px;
  left: 60px;

  font: bold 48px/48px Gilroy, sans-serif;
  letter-spacing: 0.48px;
  text-transform: uppercase;

  cursor: pointer;
}

.main-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-top-menu-wrap {
  margin-bottom: 30px;
}

.header-search {
  display: inline-block;
  width: 440px;
  margin-right: 95px;
}

.header-search-form {
  position: relative;
}

.header-search-form::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 3px;

  width: 16px;
  height: 16px;

  background: url("../img/search.svg") 0 0 no-repeat;
}

.search-form-input {
  display: inline-block;
  width: 355px;
  padding: 7px 15px 8px 39px;

  box-sizing: border-box;
  font: inherit;

  background-color: transparent;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.search-form-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus {
  border-bottom: 2px solid #000000;

  outline: none;
}

.search-form-input:focus+.header-search-button {
  display: inline-block;
}

.header-search-button {
  display: none;
  width: 85px;
  margin-left: -5px;
  padding: 7px 0 8px 0;

  box-sizing: border-box;

  font: inherit;
  text-align: center;

  background-color: transparent;
  border: 2px solid #000000;
}

.header-search-button:hover {
  display: inline-block;

  color: #ffffff;

  background-color: #000000;
}

.header-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.login {
  display: inline-block;
  width: 260px;
}

.login-guest.disabled,
.login-user.disabled {
  display: none;
}

.login-button,
.compare-button,
.cart-button {
  position: relative;

  padding-left: 27px;

  color: #000000;
  text-decoration: none;
}

.login-button::before,
.user-name::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 13px;
  height: 12px;
  margin-top: -6px;

  background: url("../img/user-icon.svg") 0 0 no-repeat;
}

.login-button:hover,
.compare-button:hover,
.cart-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.login-button:active,
.compare-button:active,
.cart-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-button:hover::before,
.compare-button:hover::before,
.cart-button:hover::before {
  opacity: 0.6;
}

.login-button:active::before,
.compare-button:active::before,
.cart-button:active::before {
  opacity: 0.3;
}

.user-name {
  position: relative;

  padding-left: 27px;

  font-weight: normal;
}

.logout-button {
  padding-left: 16px;

  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.logout-button:hover {
  color: #000000;
}

.logout-button:active {
  color: rgba(0, 0, 0, 0.6);
}

.compare,
.cart {
  display: inline-block;
  width: 100px;
  margin-left: 15px;
}

.compare,
.cart {
  display: inline-block;
  width: 100px;
  margin-left: 16px;
}

.cart-button {
  padding-left: 41px;
}

.compare-button::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 7px;

  width: 10px;
  height: 10px;
  margin-top: -5px;

  background: url("../img/compare.svg") 0 0 no-repeat;
}

.cart-button::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 17px;

  width: 12px;
  height: 12px;
  margin-top: -6px;

  background: url("../img/cart.svg") 0 0 no-repeat;
}

.menu-item {
  display: inline-block;
  width: 140px;
}

.menu-item:nth-child(2) {
  margin-right: 15px;
}

.menu-item:nth-child(3) {
  margin-right: 56px;
}

.menu-item:last-child {
  text-align: right;
}

.menu-item>a {
  font: bold 18px/24px Gilroy, sans-serif;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-item>a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.menu-item>a:active {
  color: rgba(0, 0, 0, 0.3);
}

.dropdown {
  position: relative;

  width: 536px;
  padding-bottom: 12px;
}

.dropdown::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 230px;

  width: 16px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 237px;

  width: 2px;
  height: 16px;

  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown:hover .submenu {
  display: block;
  z-index: 1;
}

.submenu {
  position: absolute;
  top: 42px;

  display: none;
  width: 1040px;
  padding-bottom: 33px;

  background-color: #f7e296;
}

.submenu-column {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.submenu-column:first-child {
  width: 240px;
}

.submenu-item a {
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

.submenu-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.submenu-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-promo {
  position: relative;

  min-height: 622px;

  background-image: linear-gradient(to bottom, #f7e296 0, #f7e296 141px, #ffffff 141px);
}

.slider {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.slider-1,
.slider-2,
.slider-3 {
  display: none;
}

.slider-1 {
  display: flex;
}

.slider-number {
  position: absolute;
  top: 17px;
  right: 60px;
  z-index: 0;

  font: bold 179.2px/179.2px Gilroy, sans-serif;
  color: #ffffff;
}

.promo-img,
.promo-info {
  width: 560px;
}

.promo-info {
  position: relative;
  padding-top: 108px;

  vertical-align: top;
}

.promo-info::before {
  content: "";

  position: absolute;
  top: 67px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-img img {
  display: block;
  width: 384px;
  height: 486px;
  margin: 0 auto;
}

.slider-1 img {
  width: 384px;
  height: 486px;
  padding-top: 30px;
}

.slider-2 img {
  width: 345px;
  height: 482px;
  padding-top: 42px;
}

.slider-3 img {
  width: 526px;
  height: 334px;
  padding-top: 95px;
}

.slider-title {
  position: relative;
  z-index: 1;

  padding-bottom: 19px;

  font: bold 47px/56px Gilroy, sans-serif;
}

.slider-description {
  max-width: 481px;
  padding-bottom: 43px;

  color: #464646;
}

.slider-more-button {
  width: 220px;
}

.slider-table td {
  width: 160px;
  padding: 0;

  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider-table td:nth-child(2) {
  width: 140px;
}

.slider-table th {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
  font-weight: normal;
  text-align: left;
}

.switches {
  position: absolute;
  top: 357px;
  right: 83px;
  width: 78px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.switch.active::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;
  margin-top: -3px;
  margin-left: -3px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.switch:not(:last-child) {
  margin-right: 15px;
}

.products {
  margin-bottom: 80px;
}

.product-list {
  display: flex;
  justify-content: space-between;
}

.product-item {
  position: relative;

  width: 160px;
  padding-top: 193px;
}

.product-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: #f7e296;

  cursor: pointer;
}

.product-item::after {
  content: "";

  position: absolute;
  left: 50%;

  cursor: pointer;
}

.product-item:hover::before {
  background-color: #f0c52e;
}

.product-item:active::before {
  background-color: #f0c52e;
}

.product-item:active::after {
  opacity: 0.3;
}

.product-item:first-child::after {
  top: 52px;

  width: 98px;
  height: 56px;
  margin-left: -49px;

  background: url("../img/product-1.svg") 0 0 no-repeat;
}

.product-item:nth-child(2)::after {
  top: 41px;

  width: 86px;
  height: 118px;
  margin-left: -43px;

  background: url("../img/product-2.svg") 0 0 no-repeat;
}

.product-item:nth-child(3)::after {
  top: 38px;

  width: 72px;
  height: 87px;
  margin-left: -36px;

  background: url("../img/product-3.svg") 0 0 no-repeat;
}

.product-item:nth-child(4)::after {
  top: 50px;

  width: 108px;
  height: 65px;
  margin-left: -54px;

  background: url("../img/product-4.svg") 0 0 no-repeat;
}

.product-item:nth-child(5)::after {
  top: 32px;

  width: 56px;
  height: 98px;
  margin-left: -28px;

  background: url("../img/product-5.svg") 0 0 no-repeat;
}

.product-item:last-child::after {
  top: 49px;

  width: 132px;
  height: 69px;
  margin-left: -66px;

  background: url("../img/product-6.svg") 0 0 no-repeat;
}

.product-item a {
  font: bold 18px/24px Gilroy, sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
  text-decoration: none;
}

.product-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-wrap {
  background: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px, #e5e5e5);
}

.services {
  display: flex;
  justify-content: space-between;
  min-height: 388px;
}

.services-list {
  position: relative;

  width: 284px;
  padding-top: 80px;
}

.services-list::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.service-item-button {
  width: 160px;
}

.service-item.active .service-item-button {
  width: 278px;
  padding-left: 25px;

  box-sizing: border-box;
  color: #f7e184;
  text-align: left;

  background-image: linear-gradient(to bottom, #000000, #000000);
}

.service-slider {
  position: relative;

  width: 760px;
}

.service-slider::after {
  content: "";

  position: absolute;
}

.service-delivery::after {
  top: 85px;
  right: 66px;

  width: 141px;
  height: 164px;

  background: url("../img/delivery.svg") 0 0 no-repeat;
}

.service-warranty::after {
  top: 61px;
  right: 46px;

  width: 171px;
  height: 194px;

  background: url("../img/warranty.svg") 0 0 no-repeat;
}

.service-credit::after {
  top: 61px;
  right: 70px;

  width: 156px;
  height: 186px;

  background: url("../img/credit.svg") 0 0 no-repeat;
}

.service-delivery,
.service-warranty,
.service-credit {
  display: none;
}

.service-delivery.active,
.service-warranty.active,
.service-credit.active {
  display: block;
}

.service-slider {
  padding-top: 72px;
}

.service-slider-title {
  padding-bottom: 31px;

  font: bold 47px/48px Gilroy, sans-serif;
  letter-spacing: 0.47px;
}

.service-slider-info {
  max-width: 427px;
}

.partners {
  height: 287px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.partner {
  width: 260px;
}

.partner img {
  width: 260px;
  height: 100px;
  filter: grayscale(100%) opacity(0.2);
}

.partner img:hover {
  filter: grayscale(0) opacity(1);
}

.contacts-delivery-info {
  display: flex;
  justify-content: space-between;
  min-height: 655px;
}

.about-us,
.contacts {
  position: relative;

  width: 560px;
  padding-top: 51px;
}

.about-us::before,
.contacts::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us-title,
.contacts-title {
  padding-bottom: 45px;

  font: bold 47px/48px Gilroy, sans-serif;
  letter-spacing: 0.47px;
}

.about-us-info,
.about-us-delivery,
.contacts-info {
  max-width: 423px;
  padding-bottom: 39px;

  color: #464646;
  letter-spacing: 0;
}

.about-us-delivery {
  max-width: 475px;
  padding-bottom: 65px;
}

.contacts-info {
  max-width: 512px;
  padding-bottom: 40px;
}

.about-us ul {
  padding-bottom: 55px;
}

.about-us li {
  position: relative;

  padding-left: 35px;

  font: bold 16px/40px Gilroy, sans-serif;
  letter-spacing: normal;
}

.about-us li::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 1px;

  width: 4px;
  height: 4px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us-more-button,
.contacts-more-button {
  width: 260px;
}

.contacts img {
  width: 560px;
  height: 222px;
  padding-bottom: 69px;

  cursor: pointer;
}

.main-footer {
  min-height: 264px;
  padding-top: 59px;
  background-color: #464646;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.footer-logo {
  display: inline-block;

  font: bold 48px/48px Gilroy, sans-serif;
  color: #ffc600;
  letter-spacing: 0.48px;
  text-transform: uppercase;

  cursor: pointer;
}

.footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-menu-item {
  display: inline-block;
}

.footer-login-user.disabled,
.footer-login-guest.disabled {
  display: none;
}

.footer-login-guest {
  width: 118px;
}

.footer-login-user {
  width: 266px;
}

.footer-menu-item:nth-child(2) {
  width: 135px;
}

.footer-menu-item:last-child {
  width: 87px;
}

.footer-menu-item a {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-menu-item a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-menu-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-login-user .footer-logout-button:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-login-user .footer-logout-button:active {
  color: rgba(255, 255, 255, 0.6);
}

.footer-user-name {
  position: relative;

  padding-left: 29px;

  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}

.footer-user-name::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 0;

  width: 13px;
  height: 12px;

  background: url("../img/user-footer.svg") 0 0 no-repeat;
}

.footer-login-button {
  padding-left: 27px;
}

.footer-login-user .footer-logout-button {
  padding-left: 15px;

  color: rgba(255, 255, 255, 0.3);
}

.footer-menu-item:nth-child(2) a {
  padding-left: 20px;
}

.footer-menu-item:last-child a {
  padding-left: 24px;
}

.footer-menu-item a::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 0;
}

.footer-menu-item a:hover::before {
  opacity: 0.6;
}

.footer-menu-item a:active::before {
  opacity: 0.3;
}

.footer-login-button::before {
  width: 13px;
  height: 12px;

  background: url("../img/user-footer.svg") 0 0 no-repeat;
}

.footer-menu-item:nth-child(2) a::before {
  width: 10px;
  height: 10px;

  background: url("../img/compare-footer.svg") 0 0 no-repeat;
}

.footer-menu-item:last-child a::before {
  width: 12px;
  height: 12px;

  background: url("../img/cart-footer.svg") 0 0 no-repeat;
}

.footer-middle {
  display: flex;
  justify-content: space-between;

  margin-bottom: 64px;
}

.address,
.phone {
  color: #ffffff;
  letter-spacing: normal;
}

.footer-services-menu {
  width: 425px;
}

.footer-services-menu-item {
  display: inline-block;
}

.footer-services-menu-item:not(:last-child) {
  padding-right: 27px;
}

.footer-services-menu-item a {
  font: bold 18px/24px Gilroy, sans-serif;
  color: #ffffff;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-services-menu-item a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-services-menu-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-left: 509px;
}

.footer-bottom::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 80px;
  height: 7px;
  margin-top: -4px;

  background-color: #ffc600;
}

.socials {
  display: block;
  width: 141px;
}

.social-item {
  position: relative;

  display: inline-block;
  height: 32px;
  padding-right: 44px;

  vertical-align: middle;
}

.social-item a {
  position: absolute;

  width: 32px;
  height: 32px;
}

.social-fb a::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background: url("../img/fb.svg") 0 0 no-repeat;
  opacity: 0.3;
}

.social-insta a::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background: url("../img/insta.svg") 0 0 no-repeat;
  opacity: 0.3;
}

.social-tw a::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background: url("../img/twitter.svg") 0 0 no-repeat;
  opacity: 0.3;
}

.social-item a:hover::before {
  opacity: 0.6;
}

.social-item a:active::before {
  opacity: 0.1;
}

.developer {
  position: relative;

  width: 27px;
}

.developer::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 35px;

  background: url("../img/logo-html.svg") 0 0 no-repeat;
}

.developer:hover::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 35px;

  background: url("../img/logo-html.svg") 0 0 no-repeat;
  opacity: 0.6;
}

.developer:active::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 35px;

  background: url("../img/logo-html.svg") 0 0 no-repeat;
  opacity: 0.3;
}